body {
  background-color: #121212;
  color: #d3d3d3;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-weight: bold;
  color: #ffffff;
}

#postsContainer .list-group-item {
  background-color: #282828;
  border: 1px solid #333;
  color: #eaeaea;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
}

#postsContainer .list-group-item:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

#postsContainer .list-group-item h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
  font-weight: 500;
}

.btn-outline-light:hover {
  background-color: #f8f9fa;
  color: #333;
}

.modal-content {
  background-color: #333;
  border-radius: 10px;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-title {
  font-weight: bold;
}

.btn-primary {
  background-color: #ff7b54;
  border-color: #ff7b54;
}

.btn-primary:hover {
  background-color: #ff6347;
  border-color: #ff6347;
}
